body {
  background-color: aquamarine;
}
h2 {
  color: red;
  font-size: 50px;
}

.chapter {
  color: blue;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-weight: bold;
}
span {
  text-decoration: underline;
  font-style: italic;
}
img {
  display: block;
  width: 300px;
  margin: auto;
}

.nav {
  /* static,relativ, absolut, fixed  */
  position: fixed;
  right: 0px;
  top: 50px;
  /* bottom: 119px; */
  /* bottom: 150px; */
  /* botton , top , right, left */
}

.example {
  /* position: relativ; */
  background-color: bisque;
  height: 500px;
  height: 100px;
}

.red {
  background-color: blue;
  width: 50rem;
  height: 100px;
}
.box {
  background-color: red;
  width: 50rem;
}
